.otp-input {
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #dce3f3;
  border-radius: 10px;
  outline: none;
}

.otp-input:focus {
  border-color: #4a6cf7;
  box-shadow: 0 0 5px rgba(74,108,247,0.5);
}
